<ul class='flex space-x-1'>
  <% stars.each_with_index do |star, index| %>
    <%
      prev_star =  stars[index - 1 < 0 ? 0 : index - 1]
      show_full_star = full_stars && prev_star.max <= rating
    %>
    <li class='flex items-center justify-center'>
      <div class='star'>
        <% if show_full_star %>
          <div class='starIcon starIcon--full'>
        <% else %>
          <% if rating >= star.min %>
            <div class='starIcon starIcon--halfStart'></div>
          <% end %>
          <% if  rating > star.min %>
            <div class='starIcon starIcon--halfEnd'></div>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
